
<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="/system/<%= locals.configs['logo'] %>" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text"><%= locals.configs['system_name'] %></h4>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">


    <li class="<%= currrentPath == '/' ? 'mm-active' : '' %>">
      <a href="/dashboard">
        <div class="parent-icon">
          <i class="fas fa-home"></i>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
    </li>




    <li class="<%= currrentPath == 'activities' ? 'mm-active' : '' %>">
      <a href="/dashboard/activities">
        <div class="parent-icon">
          <i class="fas fa-bell"></i>
        </div>
        <div class="menu-title">Activities & Reminders</div>
      </a>
    </li>


    <li class="<%= currrentPath == 'purchase' ? 'mm-active' : '' %>">
      <a href="/dashboard/purchase">
        <div class="parent-icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="menu-title">Purchase</div>
      </a>
    </li>

    <li class="<%= currrentPath == 'milling' ? 'mm-active' : '' %>">
      <a href="/dashboard/milling">
        <div class="parent-icon">
          <i class="fas fa-industry"></i>
        </div>
        <div class="menu-title">Milling</div>
      </a>
    </li>


    <li class="<%= currrentPath == 'workforce' ? 'mm-active' : '' %>">
      <a href="/dashboard/workforce">
        <div class="parent-icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="menu-title">Workforce</div>
      </a>
    </li>

    <li class="<%= currrentPath == 'inventory' ? 'mm-active' : '' %>">
      <a href="/dashboard/inventory">
        <div class="parent-icon">
          <i class="fas fa-boxes"></i>
        </div>
        <div class="menu-title">Inventory</div>
      </a>
    </li>


    <li class="<%= currrentPath == 'sales' ? 'mm-active' : '' %>">
      <a href="/dashboard/sales">
        <div class="parent-icon">
          <i class="fas fa-store-alt"></i>
        </div>
        <div class="menu-title">Sales</div>
      </a>
    </li>

    <li class="<%= currrentPath == 'payments' ? 'mm-active' : '' %>">
      <a href="/dashboard/payments">
        <div class="parent-icon">
          <i class="fas fa-money-bill"></i>
        </div>
        <div class="menu-title">Payments</div>
      </a>
    </li>

    <li class="<%= currrentPath == 'vehicles' ? 'mm-active' : '' %>">
      <a href="/dashboard/vehicles">
        <div class="parent-icon">
          <i class="fas fa-car"></i>
        </div>
        <div class="menu-title">Vehicles</div>
      </a>
    </li>



    <li class="<%= currrentPath == 'debts' ? 'mm-active' : '' %>">
      <a href="/dashboard/debts">
        <div class="parent-icon">
          <i class="fas fa-coins"></i>
        </div>
        <div class="menu-title">Debts</div>
      </a>
    </li>


    <li class="<%= currrentPath == 'expenses' ? 'mm-active' : '' %>">
      <a href="/dashboard/expenses">
        <div class="parent-icon">
          <i class="fas fa-outdent"></i>
        </div>
        <div class="menu-title">Expenses</div>
      </a>
    </li>

    <li class="<%= currrentPath == 'reports' ? 'mm-active' : '' %>">
      <a href="/dashboard/reports">
        <div class="parent-icon">
          <i class="fas fa-chart-bar"></i>
        </div>
        <div class="menu-title">Reports</div>
      </a>
    </li>


    <li class="<%= currrentPath == 'customers' ? 'mm-active' : '' %>">
      <a href="/dashboard/customers">
        <div class="parent-icon">
          <i class="fas fa-user-tie"></i>
        </div>
        <div class="menu-title">Customers</div>
      </a>
    </li>

    <li class="menu-label">Users & Settings</li>

    <li class="<%= currrentPath == 'users' ? 'mm-active' : '' %>">
      <a href="/dashboard/users">
        <div class="parent-icon">
          <i class="fas fa-user-lock"></i>
        </div>
        <div class="menu-title">Permissions</div>
      </a>
    </li>


    <li class="<%= currrentPath == 'configs' ? 'mm-active' : '' %>">
      <a href="/dashboard/configs">
        <div class="parent-icon">
          <i class="fas fa-cogs"></i>
        </div>
        <div class="menu-title">configs</div>
      </a>
    </li>









  </ul>
  <!--end navigation-->
</aside>