<%- include('../includes/dashboard-top') %>

    <div class="page-content-wrapper">

        <div class="page-content">

            <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
                <!-- <div class="breadcrumb-title pe-3">Dashboard</div> -->
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0 align-items-center">
                            <li class="breadcrumb-item"><a href="/dashboard"><ion-icon name="home-outline" role="img"
                                        class="md hydrated" aria-label="home outline"></ion-icon></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= locals.title %>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <!-- <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#new-daily-workforce-modal">New Record</button>
                    </div> -->
                </div>
            </div>
            <!--end breadcrumb-->

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">


                            <table id="purchases" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Customer/Seller</th>
                                        <th>Amount (RWF)</th>
                                        <th>Note</th>
                                        <th>Type</th>
                                        <th>Date & Time</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% debts.forEach((debt, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= debt.saller_name %>
                                            </td>
                                            <td>
                                                <%= debt.debited_amount.toLocaleString() %>
                                            </td>
                                            <td>
                                                <%= debt.note %>
                                            </td>
                                            <td>
                                                <span
                                                    class="badge bg-<%= debt.customer_id != null ? 'success' : 'danger' %>">
                                                    <%= debt.customer_id !=null ? 'Sale' : 'Purchase' %>
                                                </span>
                                            </td>
                                            <td>
                                                <%= debt.created_at.toLocaleString() %>
                                            </td>
                                            <td>
                                                <span class="badge bg-<%= debt.paid == 'NO' ? 'danger' : 'success' %>">
                                                    <%= debt.paid %>
                                                </span>
                                            </td>
                                            <td>

                                                <% if(debt.paid=='NO' ) { %>
                                                    <div class="btn-group">
                                                        <a href="javascript:;" class="btn btn-outline-primary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#mark-paid-<%= debt.id %>">
                                                            Mark as Paid
                                                        </a>
                                                    </div>

                                                    <div class="modal fade" id="mark-paid-<%= debt.id %>" tabindex="-1"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <form action="/dashboard/debt-paid" method="post">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Debt Update</h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">


                                                                        <div class="form-group col-md-12">
                                                                            <label for="">Paid with?</label>
                                                                            <select name="payment_method_id"
                                                                                class="form-control form-control-lg mb-3"
                                                                                required>
                                                                                <option value="">Select Payment mode
                                                                                </option>
                                                                                <% modes.forEach((mode, index)=> { %>
                                                                                    <option value="<%= mode.id %>">
                                                                                        <%= mode.name %>
                                                                                    </option>
                                                                                    <% }) %>
                                                                            </select>
                                                                        </div>


                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <input type="hidden" name="debt_id"
                                                                            value="<%= debt.id %>">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit"
                                                                            class="btn btn-primary">Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <%  }else if((Math.abs(new Date() - new Date(debt.updated_at)) / 36e5) <= 24){ %>
                                                        <div class="btn-group">
                                                            <a href="javascript:;" class="btn btn-outline-primary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#mark-uppaid-<%= debt.id %>">
                                                                Mark as UnPaid
                                                            </a>
                                                        </div>
                                                        <div class="modal fade" id="mark-uppaid-<%= debt.id %>" tabindex="-1"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <form action="/dashboard/debt-unpaid" method="post">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Debt Update</h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">


                                                                        <h4>Are you sure?</h4>


                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <input type="hidden" name="debt_id"
                                                                            value="<%= debt.id %>">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit"
                                                                            class="btn btn-primary">Debt Update</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <% } %>

                                            </td>

                                        </tr>
                                        <% }); %>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Customer/Seller</th>
                                        <th>Amount (RWF)</th>
                                        <th>Note</th>
                                        <th>Type</th>
                                        <th>Date & Time</th>
                                        <th>Status</th>
                                        <th>

                                        </th>
                                    </tr>
                                </tfoot>
                            </table>



                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>




    <script>
        // function areYouSureToDelete(id) {

        //     Swal.fire({
        //         title: 'Are you sure?',
        //         text: "You won't be able to revert this!",
        //         icon: 'warning',
        //         showCancelButton: true,
        //         confirmButtonColor: '#3085d6',
        //         cancelButtonColor: '#d33',
        //         confirmButtonText: 'Yes, it is Paid!'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             location.href = '/dashboard/debt-paid?id='+ id;
        //         }
        //     })
        // }
    </script>

    <%- include('../includes/dashboard-foot') %>