<%- include('../includes/dashboard-top') %>

    <div class="page-content-wrapper">

        <div class="page-content">

            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                      <!-- <div class="breadcrumb-title pe-3">Dashboard</div> -->
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0 align-items-center">
                            <li class="breadcrumb-item"><a href="/dashboard"><ion-icon name="home-outline" role="img"
                                        class="md hydrated" aria-label="home outline"></ion-icon></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= locals.title %>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#new-expenses-modal"><i class="fas fa-plus"></i> New Record</button>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">


                            <table id="sales" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                        <th>Amount  (RWF)</th>
                                        <th>Sender</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% expenses.forEach((expense, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= expense.description %>
                                            </td>
                                            <td>
                                                <%= expense.amount.toLocaleString() %>
                                            </td>
                                            <td>
                                                <%= expense.sender_names %>
                                            </td>
                                            <td>
                                                <%= expense.note %>
                                            </td>
                                            <td>

                                                <% if((Math.abs(new Date() - new Date(expense.created_at)) / 36e5)
                                                <=locals.configs['allow_edit_before_hours']) { %>

                                                <div class="btn-group">
                                                    <a href="javascript:;" class="btn btn-outline-primary"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#edit-expense-<%= expense.id %>">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <button type="button"
                                                        class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                                                        data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle
                                                            Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                                        <a class="dropdown-item" href="javascript:;"
                                                            onclick="areYouSureToDelete(<%= expense.id %>)">Delete</a>
                                                    </div>
                                                </div>



                                                <div class="modal fade" id="edit-expense-<%= expense.id %>"
                                                    tabindex="-1" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <form action="/dashboard/expense/edit" method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Edit Expense</h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body row">

                                                                    <div class="col-md-12">

                                                                        <div class="form-group mb-3 row">
                                                                            <label for="">Description</label>
                                                                            <input type="text" name="description"
                                                                                class="form-control form-control-lg"
                                                                                placeholder="Description " required
                                                                                value="<%= expense.description %>" />
                                                                        </div>

                                                                        <div class="form-group mb-3 row">
                                                                            <label for="">Total Price</label>
                                                                            <input
                                                                                class="form-control form-control-lg mb-3"
                                                                                type="number" placeholder="Amount"
                                                                                name="amount" required
                                                                                value="<%= expense.amount %>">
                                                                        </div>

                                                                        <div class="form-group mb-3 row">
                                                                            <label for="">Person In Charge</label>
                                                                            <select name="sender" id=""
                                                                                class="form-control-lg form-control mb-3"
                                                                                required>
                                                                                <option value="">Select Person In Charge</option>
                                                                                <% users.forEach((user, index)=> { %>
                                                                                    <option value="<%= user.id %>"
                                                                                        <%=expense.sender==user.id
                                                                                        ? 'selected' : '' %>>
                                                                                        <%= user.first_name + ' ' +
                                                                                            user.last_name %>
                                                                                    </option>
                                                                                    <% }); %>
                                                                            </select>
                                                                        </div>


                                                                        <div class="form-group mb-3 row">
                                                                            <label for="">Note</label>
                                                                            <textarea name="note"
                                                                                class="form-control form-control-lg"><%= expense.note %></textarea>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                            <input type="hidden" name="expense_id"
                                                                                value="<%= expense.id %>">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary">Save
                                                                        changes</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
 <% } %>

                                            </td>

                                        </tr>
                                        <% }); %>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                        <th>Amount (RWF)</th>
                                        <th>Sender</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>





                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>



    <div class="modal fade" id="new-expenses-modal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/dashboard/expense/new" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">New Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">

                        <div class="col-md-12">

                            <div class="form-group mb-3 row">
                                <label for="">Description</label>
                                <input type="text" name="description" class="form-control form-control-lg"
                                    placeholder="Description " required />
                            </div>

                            <div class="form-group mb-3 row">
                                <label for="">Total Price</label>
                                <input class="form-control form-control-lg mb-3" type="number" placeholder="Amount"
                                    name="amount" required>
                            </div>

                            <div class="form-group mb-3 row">
                                <label for="">Person In Charge</label>
                                <select name="sender" id="" class="form-control-lg form-control mb-3" required>
                                    <option value="">Select Person In Charge</option>
                                    <% users.forEach((user, index)=> { %>
                                        <option value="<%= user.id %>">
                                            <%= user.first_name + ' ' + user.last_name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>


                            <div class="form-group mb-3 row">
                                <label for="">Note</label>
                                <textarea name="note" class="form-control form-control-lg"></textarea>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <script>
        function areYouSureToDelete(id) {
            Swal.fire({
                title: 'Are you sure to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/dashboard/expenses/delete?id=' + id;
                }
            })
        }
    </script>


    <%- include('../includes/dashboard-foot') %>