<%- include('../includes/dashboard-top') %>

  <div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">

      <!--start breadcrumb-->
      <div class="page-breadcrumb  d-sm-flex align-items-center mb-3">
              <!-- <div class="breadcrumb-title pe-3">Dashboard</div> -->
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
              <li class="breadcrumb-item"><a href="/dashboard"><ion-icon name="home-outline" role="img"
                    class="md hydrated" aria-label="home outline"></ion-icon></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <?= $title ?>
              </li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
          <!-- <div class="btn-group">
              <button type="button" class="btn btn-outline-primary">Settings</button>
              <button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                <a class="dropdown-item" href="javascript:;">Another action</a>
                <a class="dropdown-item" href="javascript:;">Something else here</a>
                <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
              </div>
            </div> -->
        </div>
      </div>
      <!--end breadcrumb-->




      <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">

        <div class="col">
          <div class="card radius-10">
            <div class="card-body">
              <div class="d-flex align-items-start gap-2">
                <div>
                  <p class="mb-0 fs-6">Maize Stock</p>
                </div>
                <div class="ms-auto widget-icon-small text-white bg-gradient-purple">
                  <!-- <i class="fas fa-industry"></i> -->
                  <img src="/assets/images/corn_480px.png" alt="" class="home-card-icon">
                </div>
              </div>
              <div class="d-flex align-items-center mt-3">
                <div>
                  <h4 class="mb-0">kg <%= maize_stock.toLocaleString() %>
                  </h4>
                </div>
                <!-- <div class="ms-auto">+6.32%</div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card radius-10">
            <div class="card-body">
              <div class="d-flex align-items-start gap-2">
                <div>
                  <p class="mb-0 fs-6">Flour Stock</p>
                </div>
                <div class="ms-auto widget-icon-small text-white bg-gradient-info">
                  <img src="/assets/images/flour_480px.png" alt="" class="home-card-icon">
                </div>
              </div>
              <div class="d-flex align-items-center mt-3">
                <div>
                  <h4 class="mb-0">kg <%= flour_stock.toLocaleString() %>
                  </h4>
                </div>
                <!-- <div class="ms-auto">+12.45%</div> -->
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card radius-10">
            <div class="card-body">
              <div class="d-flex align-items-start gap-2">
                <div>
                  <p class="mb-0 fs-6">Branda Stock</p>
                </div>
                <div class="ms-auto widget-icon-small text-white bg-gradient-danger">
                  <img src="/assets/images/flour_480px.png" alt="" class="home-card-icon">
                </div>
              </div>
              <div class="d-flex align-items-center mt-3">
                <div>
                  <h4 class="mb-0">kg <%= branda_stock.toLocaleString() %>
                  </h4>
                </div>
                <!-- <div class="ms-auto">+3.12%</div> -->
              </div>
            </div>
          </div>
        </div>




        <div class="col">
          <div class="card radius-10">
            <div class="card-body">
              <div class="d-flex align-items-start gap-2">
                <div>
                  <p class="mb-0 fs-6">Workforce</p>
                </div>
                <div class="ms-auto widget-icon-small text-white bg-gradient-success">
                  <img src="/assets/images/users_480px.png" alt="" class="home-card-icon">
                </div>
              </div>
              <div class="d-flex align-items-center mt-3">
                <div>
                  <h4 class="mb-0"><%= workforces.toLocaleString() %>
                  </h4>
                </div>
                <!-- <div class="ms-auto">+3.12%</div> -->
              </div>
            </div>
          </div>
        </div>


      </div>
      <!--end row-->


    </div>
    <!-- end page content-->
  </div>


  <style>
    .home-card-icon {
      width: 2rem;
    }
  </style>
  <%- include('../includes/dashboard-foot') %>