<%- include('../includes/dashboard-top') %>

    <div class="page-content-wrapper">

        <div class="page-content">

            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                      <!-- <div class="breadcrumb-title pe-3">Dashboard</div> -->
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0 align-items-center">
                            <li class="breadcrumb-item"><a href="/dashboard"><ion-icon name="home-outline" role="img"
                                        class="md hydrated" aria-label="home outline"></ion-icon></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= locals.title %>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#new-inventory-modal">New Record</button>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">


                            <ul class="nav nav-tabs nav-primary" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab"
                                        aria-selected="true">
                                        <div class="d-flex align-items-center">
                                            <div class="tab-icon">
                                            </div>
                                            <div class="tab-title">Inventory</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab"
                                        aria-selected="false" tabindex="-1">
                                        <div class="d-flex align-items-center">
                                            <div class="tab-icon">
                                            </div>
                                            <div class="tab-title">Items</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content py-3">
                                <div class="tab-pane fade active show" id="primaryhome" role="tabpanel">


                                    <table id="purchases" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Item name</th>
                                                <th>Description</th>
                                                <th>Note</th>
                                                <th>User</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% inventory_users.forEach((user, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>
                                                    <td>
                                                        <%= user.item_name %>
                                                    </td>
                                                    <td>
                                                        <%= user.description %>
                                                    </td>
                                                    <td>
                                                        <%= user.inventory_node %>
                                                    </td>
                                                    <td>
                                                        <%= user.first_name + ' ' + user.last_name %>
                                                    </td>
                                                    <td>




                                                        <div class="btn-group">
                                                            <a href="javascript:;" class="btn btn-outline-primary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#edit-inventory-<%= user.inventory_id %>">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <button type="button"
                                                                class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                                                                data-bs-toggle="dropdown"> <span
                                                                    class="visually-hidden">Toggle
                                                                    Dropdown</span>
                                                            </button>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                                                <a class="dropdown-item" href="javascript:;"
                                                                    onclick="areYouSureToDelete(<%= user.inventory_id %>)">Delete</a>
                                                            </div>
                                                        </div>


                                                        <div class="modal fade" id="edit-inventory-<%= user.inventory_id %>" tabindex="-1" aria-hidden="true" style="display: none;">
                                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                                <div class="modal-content">
                                                    
                                                                    <form action="/dashboard/inventory/edit" method="post">
                                                    
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Edit</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                    
                                                                        <div class="modal-body row">
                                                    
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="">Item Name</label>
                                                                                <!-- <select name="item_name" class="form-control form-control-lg mb-3" required>
                                                                                    <option value="" selected>Select item</option>
                                                                                    <% inventories.forEach((inventory, index)=> { %>
                                                                                        <option value="<%= inventory.item_name %>" <%= user.item_name == inventory.item_name ? 'selected' : '' %>>
                                                                                            <%= inventory.item_name %>
                                                                                        </option>
                                                                                        <% }) %>
                                                                                </select> -->
                                                                                <input class="form-control form-control-lg mb-3" type="text"
                                                                                placeholder="E.g.: Laptop, Paper...." name="item_name" required value="<%= user.item_name %>">
                                                                            </div>
                                                    
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="">Type</label>
                                                                                <input class="form-control form-control-lg mb-3" type="text"
                                                                                    placeholder="E.g.: Consumable...." name="type" required value="<%= user.type %>">
                                                                            </div>
                                                    
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="">User</label>
                                                                                <select name="user_id" class="form-control form-control-lg mb-3" required>
                                                                                    <option value="" selected>Select user</option>
                                                                                    <% users.forEach((user_, index)=> { %>
                                                                                        <option value="<%= user_.id %>" <%= user.user_id == user_.id ? 'selected' : '' %>>
                                                                                            <%= user_.first_name + ' ' + user_.last_name %>
                                                                                        </option>
                                                                                        <% }) %>
                                                                                </select>
                                                                            </div>
                                                    
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="">Description</label>
                                                                                <textarea name="description" class="form-control"><%= user.description %></textarea>
                                                                            </div>
                                                    
                                                                            <div class="form-group col-md-6 col-lg-6">
                                                                                <label for="">Note</label>
                                                                                <textarea name="note" class="form-control"><%= user.inventory_node %></textarea>
                                                                            </div>
                                                    
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <input type="hidden" name="inventory_id" value="<%= user.inventory_id %>">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                    


                                                    </td>

                                                </tr>
                                                <% }); %>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Item name</th>
                                                <th>Description</th>
                                                <th>Note</th>
                                                <th>User</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="primaryprofile" role="tabpanel">


                                    <table id="purchases" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Item name</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Added at</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% inventories.forEach((inventory, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>
                                                    <td>
                                                        <%= inventory.item_name %>
                                                    </td>
                                                    <td>
                                                        <%= inventory.description %>
                                                    </td>
                                                    <td>
                                                        <%= inventory.quantity.toLocaleString() %>
                                                    </td>
                                                    <td>
                                                        <%= inventory.created_at.toLocaleString() %>
                                                    </td>

                                                </tr>
                                                <% }); %>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Item name</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Added at</th>
                                            </tr>
                                        </tfoot>
                                    </table>



                                </div>
                                <div class="tab-pane fade" id="primarycontact" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">


                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>






    <!-- Modal -->
    <div class="modal fade" id="new-inventory-modal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <form action="/dashboard/inventory/new" method="post">

                    <div class="modal-header">
                        <h5 class="modal-title">New</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body row">

                        <div class="form-group col-md-6 col-lg-6">
                            <label for="">Item Name</label>
                            <!-- <select name="item_name" class="form-control form-control-lg mb-3" required>
                                <option value="" selected>Select item</option>
                                <% inventories.forEach((inventory, index)=> { %>
                                    <option value="<%= inventory.item_name %>">
                                        <%= inventory.item_name %>
                                    </option>
                                    <% }) %>
                            </select> -->
                            <input class="form-control form-control-lg mb-3" type="text"
                            placeholder="E.g.: Laptop, Paper...." name="item_name" required>
                        </div>

                        <div class="form-group col-md-6 col-lg-6">
                            <label for="">Type</label>
                            <input class="form-control form-control-lg mb-3" type="text"
                                placeholder="E.g.: Consumable...." name="type" required>
                        </div>

                        <div class="form-group col-md-6 col-lg-6">
                            <label for="">User</label>
                            <select name="user_id" class="form-control form-control-lg mb-3" required>
                                <option value="" selected>Select user</option>
                                <% users.forEach((user, index)=> { %>
                                    <option value="<%= user.id %>">
                                        <%= user.first_name + ' ' + user.last_name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>

                        <div class="form-group col-md-6 col-lg-6">
                            <label for="">Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>

                        <div class="form-group col-md-6 col-lg-6">
                            <label for="">Note</label>
                            <textarea name="note" class="form-control"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <script>
        function areYouSureToDelete(id) {
            Swal.fire({
                title: 'Are you sure to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/dashboard/delete-inventory?id=' + id;
                }
            })
        }
    </script>


    <%- include('../includes/dashboard-foot') %>