<%- include('../includes/dashboard-top') %>

<div class="page-content-wrapper">

    <div class="page-content">

        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Dashboard</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0 align-items-center">
                        <li class="breadcrumb-item"><a href="/dashboard"><ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><%= locals.title %></li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary">Settings</button>
                    <button type="button" class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated link</a>
                    </div>
                </div> -->
            </div>
        </div>
        <!--end breadcrumb-->


        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card radius-10">
                    <div class="card-body">


                        <h5 class="mb-0 mt-4">User Information</h5>
                        <hr>
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="form-label">Names</label>
                                <input type="text" class="form-control" value="<%= locals.session.loggedInUser.first_name + ' ' + locals.session.loggedInUser.last_name %>">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" value="<%= locals.session.loggedInUser.username %>">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" value="<%= locals.session.loggedInUser.email %>">
                            </div>
                        </div>
                        <form method="POST" action="/dashboard/post-change-password">
                            <h5 class="mb-0 mt-4">Change password</h5>
                            <hr>
                            <% if (message !='' ) { %>
                                <div class="alert alert-danger textr-center">
                                  <%= message %>
                                </div>
                                <% } %>
                        
                            <div class="row g-3">

                                <div class="col-12">
                                    <label class="form-label">Current password</label>
                                    <input type="password" class="form-control" name="currentPassword">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">New password</label>
                                    <input type="password" class="form-control" name="newPassword">
                                </div>

                                <div class="col-12">
                                    <label class="form-label">Confirm New password</label>
                                    <input type="password" class="form-control" name="confirmNewPassword">
                                </div>

                            </div>
                            <div class="text-start mt-3">
                                <button type="submit" class="btn btn-primary px-4">Save Changes</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div><!--end row-->


        
    </div>


</div>



<!-- Modal -->
<div class="modal fade" id="new-sale-modal" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">New sale</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input class="form-control form-control-lg mb-3" type="text" placeholder="Department name" name="title">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>




<%- include('../includes/dashboard-foot') %>