<%- include('../includes/dashboard-top') %>

    <div class="page-content-wrapper">

        <div class="page-content">

            <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
                <!-- <div class="breadcrumb-title pe-3">Dashboard</div> -->
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0 align-items-center">
                            <li class="breadcrumb-item"><a href="/dashboard"><ion-icon name="home-outline" role="img"
                                        class="md hydrated" aria-label="home outline"></ion-icon></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= locals.title %>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">

                    </div>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#new-vehicle-report-modal">New Vehicle Report</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#new-vehicle">Record new vehicle</button>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->

            <br>
            <br>
            <br>


            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-primary" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active report-link"" data-bs-toggle=" tab" href="#primaryhome"
                                        role="tab" aria-selected="true">
                                        <div class="d-flex align-items-center">
                                            <div class="tab-icon">
                                            </div>
                                            <div class="tab-title">Vehicles Reports</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <a class="nav-link vehicles-link" data-bs-toggle="tab" href="#primaryprofile"
                                        role="tab" aria-selected="false" tabindex="-1">
                                        <div class="d-flex align-items-center">
                                            <div class="tab-icon">
                                            </div>
                                            <div class="tab-title">Vehicles</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content py-3">
                                <div class="tab-pane fade active show" id="primaryhome" role="tabpanel">


                                    <div class="row">
                                        <div class="col-md-12">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Plate No</td>
                                                        <td>Expense Amount</td>
                                                        <td>Expense receiver</td>
                                                        <td>Status</td>
                                                        <td>Note</td>
                                                        <td>Date & Time</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Plate No</td>
                                                        <td>Expense Amount</td>
                                                        <td>Expense receiver</td>
                                                        <td>Status</td>
                                                        <td>Note</td>
                                                        <td>Date & Time</td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>
                                                <tbody>

                                                    <% reports.forEach((report, index)=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= index + 1 %>
                                                            </td>
                                                            <td>
                                                                <%= report.plate_number %>
                                                            </td>
                                                            <td>
                                                                <%= report.expense_amount %>
                                                            </td>
                                                            <td>
                                                                <%= report.expense_receiver_name %>
                                                            </td>
                                                            <td>
                                                                <%= report.status %>
                                                            </td>
                                                            <td>
                                                                <%= report.note %>
                                                            </td>

                                                            <td>
                                                                <%= report.date_time.toLocaleString() %>
                                                            </td>
                                                            <td>

                                                                <% if((Math.abs(new Date() - new
                                                                    Date(report.updated_at)) / 36e5)
                                                                    <=locals.configs['allow_edit_before_hours']) { %>

                                                                    <div class="btn-group">
                                                                        <a href="javascript:;"
                                                                            class="btn btn-outline-primary"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#edit-report-<%= report.id %>">
                                                                            <i class="fas fa-pencil-alt"></i>
                                                                        </a>
                                                                        <button type="button"
                                                                            class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                                                                            data-bs-toggle="dropdown"> <span
                                                                                class="visually-hidden">Toggle
                                                                                Dropdown</span>
                                                                        </button>
                                                                        <div
                                                                            class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                                                            <a class="dropdown-item" href="javascript:;"
                                                                                onclick="areYouSureToDelete2(<%= report.id %>)">Delete</a>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal fade"
                                                                        id="edit-report-<%= report.id %>" tabindex="-1"
                                                                        aria-hidden="true" style="display: none;">
                                                                        <div class="modal-dialog modal-dialog-centered">
                                                                            <div class="modal-content">
                                                                                <form
                                                                                    action="/dashboard/post-edit-vehicle-report"
                                                                                    method="post">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title">Edit
                                                                                            Report</h5>
                                                                                        <button type="button"
                                                                                            class="btn-close"
                                                                                            data-bs-dismiss="modal"
                                                                                            aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body">

                                                                                        <div class="form-group">
                                                                                            <label for="">Date &
                                                                                                Time</label>
                                                                                            <input
                                                                                                class="form-control form-control-lg mb-3"
                                                                                                type="datetime-local"
                                                                                                placeholder="Date & Time"
                                                                                                name="date_time"
                                                                                                required
                                                                                                value="<%= report.date_time.replace('T', ' ') %>">
                                                                                        </div>


                                                                                        <div class="form-group">
                                                                                            <label
                                                                                                for="">Vehicle</label>
                                                                                            <select name="vehicle_id"
                                                                                                class="form-control form-control-lg mb-3"
                                                                                                required>
                                                                                                <option value="">Select
                                                                                                    Vehicle</option>
                                                                                                <% vehicles.forEach((vehicle,
                                                                                                    index)=> { %>
                                                                                                    <option
                                                                                                        value="<%= vehicle.id %>"
                                                                                                        <%=report.vehicle_id==vehicle.id
                                                                                                        ? 'selected' :''
                                                                                                        %>>
                                                                                                        <%= vehicle.plate_number
                                                                                                            + '/' +
                                                                                                            vehicle.type
                                                                                                            %>
                                                                                                    </option>
                                                                                                    <% }); %>
                                                                                            </select>
                                                                                        </div>



                                                                                        <div class="form-group">
                                                                                            <label for="">Work
                                                                                                Status</label>
                                                                                            <input
                                                                                                class="form-control form-control-lg mb-3"
                                                                                                type="text"
                                                                                                placeholder="Vehicle type"
                                                                                                name="status" required
                                                                                                value="<%= report.status %>">
                                                                                        </div>


                                                                                        <div class="form-group">
                                                                                            <label for="">Expense
                                                                                                Amount</label>
                                                                                            <input
                                                                                                class="form-control form-control-lg mb-3"
                                                                                                type="number"
                                                                                                placeholder="Amount"
                                                                                                name="expense_amount"
                                                                                                required
                                                                                                value="<%= report.expense_amount %>">
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label for="">Expense
                                                                                                Receiver</label>
                                                                                            <select
                                                                                                name="expense_receiver"
                                                                                                id=""
                                                                                                class="form-control-lg form-control mb-3"
                                                                                                required>
                                                                                                <option value="">Select
                                                                                                    Receiver</option>
                                                                                                <% users.forEach((user,
                                                                                                    index)=> { %>
                                                                                                    <option
                                                                                                        value="<%= user.id %>"
                                                                                                        <%=report.expense_receiver==user.id
                                                                                                        ? 'selected' :''
                                                                                                        %>>
                                                                                                        <%= user.first_name
                                                                                                            + ' ' +
                                                                                                            user.last_name
                                                                                                            %>
                                                                                                    </option>
                                                                                                    <% }); %>
                                                                                            </select>
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <label for="">Note</label>
                                                                                            <textarea name="note"
                                                                                                class="form-control"><%= report.note %></textarea>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <input type="hidden"
                                                                                            value="<%= report.id %>"
                                                                                            name="id">
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-bs-dismiss="modal">Close</button>
                                                                                        <button type="submit"
                                                                                            class="btn btn-primary">Save
                                                                                            changes</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <% } %>
                                                            </td>
                                                        </tr>
                                                        <% }); %>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="primaryprofile" role="tabpanel">

                                    <!-- <div class="row">
                                        <div class="col-12 d-sm-flex">
                                            <div class="ms-auto">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-outline-primary"
                                                        data-bs-toggle="modal" data-bs-target="#new-vehicle">New
                                                        Vehicle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-12">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Plate No</td>
                                                        <td>Owner</td>
                                                        <td>Type</td>
                                                        <td>Capacity (kg)</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Plate No</td>
                                                        <td>Owner</td>
                                                        <td>Type</td>
                                                        <td>Capacity (kg)</td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>
                                                <tbody>

                                                    <% vehicles.forEach((vehicle, index)=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= index + 1 %>
                                                            </td>
                                                            <td>
                                                                <%= vehicle.plate_number %>
                                                            </td>
                                                            <td>
                                                                <%= vehicle.owner %>
                                                            </td>
                                                            <td>
                                                                <%= vehicle.type %>
                                                            </td>
                                                            <td>
                                                                <%= vehicle.capacity %>
                                                            </td>
                                                            <td>


                                                                <div class="btn-group">
                                                                    <a href="javascript:;"
                                                                        class="btn btn-outline-primary"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#edit-vehicle-<%= vehicle.id %>">
                                                                        <i class="fas fa-pencil-alt"></i>
                                                                    </a>
                                                                    <button type="button"
                                                                        class="btn btn-outline-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                                                                        data-bs-toggle="dropdown"> <span
                                                                            class="visually-hidden">Toggle
                                                                            Dropdown</span>
                                                                    </button>
                                                                    <div
                                                                        class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                                                                        <a class="dropdown-item" href="javascript:;"
                                                                            onclick="areYouSureToDelete(<%= vehicle.id %>)">Delete</a>
                                                                    </div>
                                                                </div>

                                                                <!-- Modal -->
                                                                <div class="modal fade"
                                                                    id="edit-vehicle-<%= vehicle.id %>" tabindex="-1"
                                                                    aria-hidden="true" style="display: none;">
                                                                    <div class="modal-dialog modal-dialog-centered">
                                                                        <div class="modal-content">
                                                                            <form action="/dashboard/post-edit-vehicle"
                                                                                method="post">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">New vehicle
                                                                                    </h5>
                                                                                    <button type="button"
                                                                                        class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">

                                                                                    <div class="form-group">
                                                                                        <label for="">Plat No</label>
                                                                                        <input
                                                                                            class="form-control form-control-lg mb-3"
                                                                                            type="text"
                                                                                            placeholder="Plate number"
                                                                                            name="plate_no" required
                                                                                            value="<%= vehicle.plate_number %>">
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label for="">Owner</label>
                                                                                        <input
                                                                                            class="form-control form-control-lg mb-3"
                                                                                            type="text"
                                                                                            placeholder="Owner name"
                                                                                            name="owner" required
                                                                                            value="<%= vehicle.owner %>">
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label for="">Phone
                                                                                            Number</label>
                                                                                        <input
                                                                                            class="form-control form-control-lg mb-3"
                                                                                            type="text"
                                                                                            placeholder="Phone number"
                                                                                            name="phone" required
                                                                                            value="<%= vehicle.phone %>">
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label for="">Type</label>
                                                                                        <input
                                                                                            class="form-control form-control-lg mb-3"
                                                                                            type="text"
                                                                                            placeholder="Vehicle type"
                                                                                            name="type" required
                                                                                            value="<%= vehicle.type %>">
                                                                                    </div>


                                                                                    <div class="form-group">
                                                                                        <label for="">Carry
                                                                                            capacity (kg)</label>
                                                                                        <input
                                                                                            class="form-control form-control-lg mb-3"
                                                                                            type="text"
                                                                                            placeholder="Capacity"
                                                                                            name="capacity" required
                                                                                            value="<%= vehicle.capacity %>">
                                                                                    </div>

                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <input type="hidden" name="id"
                                                                                        value="<%= vehicle.id %>">
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Close</button>
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary">Save
                                                                                        changes</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </td>
                                                        </tr>
                                                        <% }); %>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>



    <!-- Modal -->
    <div class="modal fade" id="new-vehicle" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/dashboard/post-new-vehicle" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">New vehicle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="">Plat No</label>
                            <input class="form-control form-control-lg mb-3" type="text" placeholder="Plate number"
                                name="plate_no" required>
                        </div>


                        <div class="form-group">
                            <label for="">Owner</label>
                            <input class="form-control form-control-lg mb-3" type="text" placeholder="Owner name"
                                name="owner" required>
                        </div>

                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input class="form-control form-control-lg mb-3" type="text" placeholder="Phone number"
                                name="phone" required>
                        </div>



                        <div class="form-group">
                            <label for="">Type</label>
                            <input class="form-control form-control-lg mb-3" type="text" placeholder="Vehicle type"
                                name="type" required>
                        </div>


                        <div class="form-group">
                            <label for="">Carry capacity (kg)</label>
                            <input class="form-control form-control-lg mb-3" type="number" placeholder="Capacity"
                                name="capacity" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="new-vehicle-report-modal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/dashboard/post-new-vehicle-report" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">New Report</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="">Date & Time</label>
                            <input class="form-control form-control-lg mb-3" type="datetime-local"
                                placeholder="Date & Time" name="date_time" required>
                        </div>


                        <div class="form-group">
                            <label for="">Vehicle</label>
                            <select name="vehicle_id" class="form-control form-control-lg mb-3" required>
                                <option value="">Select Vehicle</option>
                                <% vehicles.forEach((vehicle, index)=> { %>
                                    <option value="<%= vehicle.id %>">
                                        <%= vehicle.plate_number + '/' + vehicle.type %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>



                        <div class="form-group">
                            <label for="">Work Status</label>
                            <input class="form-control form-control-lg mb-3" type="text" placeholder="Vehicle type"
                                name="status" required>
                        </div>


                        <div class="form-group">
                            <label for="">Expense Amount</label>
                            <input class="form-control form-control-lg mb-3" type="number" placeholder="Amount"
                                name="expense_amount" required>
                        </div>

                        <div class="form-group">
                            <label for="">Expense Receiver</label>
                            <select name="expense_receiver" id="" class="form-control-lg form-control mb-3" required>
                                <option value="">Select Receiver</option>
                                <% users.forEach((user, index)=> { %>
                                    <option value="<%= user.id %>">
                                        <%= user.first_name + ' ' + user.last_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Note</label>
                            <textarea name="note" class="form-control"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function areYouSureToDelete(id) {
            Swal.fire({
                title: 'Are you sure to delete this car?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/dashboard/delete-car?id=' + id;
                }
            })
        }

        function areYouSureToDelete2(id) {
            Swal.fire({
                title: 'Are you sure to delete this report?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = '/dashboard/delete-vehicle-report?id=' + id;
                }
            })
        }

        $(document).ready(function () {

            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('tab')) {
                let tab = urlParams.get('tab');
                if (tab == 'report') {
                    setTimeout(function () {
                        $(".report-link")[0].click();
                    }, 500);
                } else if (tab == 'vehicles') {
                    setTimeout(function () {
                        $(".vehicles-link")[0].click();
                    }, 500);
                }
            }

            $('#departments-link').click(function () {
                console.log('Hello');
            })
        });
    </script>


    <%- include('../includes/dashboard-foot') %>